.container {
    font-family:'Roboto',sans-serif;
    display: flex;
    justify-content: center;
    width: 700px;
    flex-wrap: wrap;
  padding-top: 20px;
  min-width: 480px;
  margin: 0 auto;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.button3 {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 16px;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.button3:hover{
    background-color:#4095c6;
}
.search-form {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 2px 2px rgba(#414141, 0.2);
}
      
.search-form input {
    margin-right: 12px;
    outline: 0;
    border: 0;
    color: #263238;
    font-size: 16px;
    background-color: transparent;
    border-bottom: 2px solid #4eb5f1;
}
.result {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.result td {
    color: #414141;
    border: 1px solid #4eb5f1;
    align: center;
}