* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
}

.wrapper{
    width:1200px;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.navigation {
    text-align: center;
    margin-bottom: 100px;
}
.navigation li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
}
li :hover {
    color: #626262;
    background-color: blanchedalmond
}
a {
    text-decoration: none;
}
a:link {
    color: #626262;
}

.article {
    display: inline-block;
    width: 420px;
    margin-right: 30px;
    margin-bottom: 130px;
    margin-left: 30px;
    vertical-align: top;
    text-align: left
}
.article figcaption {
    margin-top: 32px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    color: #b4ad9e;
    text-transform: uppercase
}
.article h3 {
    margin-bottom: 40px;
    font-size: 30px;
    color: #626262
}
.article p {
    font-size: 14px;
    color: #626262;
    line-height: 24px;
}
.button button {
    font-size: 14px;
    color: #626262;
    border: 1px solid;
    padding: 20px;
}